.home-page {
    place-items: center;
}

.info-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.token-middle {
    width: 5%;
    height: 5%;
}

.left-gear {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: auto;
}

.right-gear {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    height: auto;
}

.text-info-1 {
    width: 50%;
    font-size: 200%;
    font-weight: bold;
}

.text-info-2 {
    width: 30%;
    font-size: 125%;
}

@media (max-width: 800px) {
    .token-middle {
        width: 150px;
        max-width: 60%;
    }

    .left-gear, .right-gear {
        width: 60px;
        top: 10%;
    }

    .text-info-1, .text-info-2 {
        font-size: 1rem;
        padding: 0 1rem;
    }
}