.info-text-project {
    position: relative;
    top: 2.5%;
}

.right-gear-left {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%) scaleX(-1);
    width: 20%;
    height: auto;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;

    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 24px;
}

/* Tablet */
@media (max-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 640px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}
